<!doctype html>
<html>

<style>
    html,
    body {
        height: 75%;
    }

    html {
        display: table;
        margin: auto;
    }

    body {
        display: table-cell;
        vertical-align: middle;
        position: relative;
    }
</style>

<head>
    <title>Phishing Link Detector</title>
</head>

<h1>Enter a suspicious url below:</h1>

<form method="POST">
    <input name="text", size="75">
    <input type="submit">
</form>

<div class="link result">
    {% if result %}
    <br>
    <p style="font-size:18px; text-align:center; color:black"> The model predicts that <br><br> <b>{{link}}</b> <br><br> is a <u>{{result}}</u> link. </p>
    {% endif %}
</div>

</html>